<!DOCTYPE HTML>
<html >
<head>
<title>html5响应式装饰公司网站模板</title>
<meta name="renderer" content="webkit">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="generator" content=""  data-variable=",,,,,zstyle" />
<meta name="description" content="关键词" />
<meta name="keywords" content="描述" />
<link href="image/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<!--[if lt IE 10]>
<script src="js/media.match.min.js"></script>
<script src="js/respond.min.js"></script>
<script src="js/classlist.min.js"></script>
<![endif]-->
</head>




<body class="met-navfixed">
<!--[if lte IE 8]>
	<div class="text-center padding-top-50 padding-bottom-50 bg-blue-grey-100">
	<p class="browserupgrade font-size-18">你正在使用一个<strong>过时</strong>的浏览器。请<a href="http://browsehappy.com/" target="_blank">升级您的浏览器</a>，以提高您的体验。</p>
	</div>
<![endif]-->

<nav id="mobileNav" style="display:none;">
  <ul>
    <li><a  href="index.html" title="首页">首页</a></li>


    <li class="active"><span>关于我们</span>


      <ul>

							<li class=""><a href="about.html"  title="关于我们">关于我们</a></li>



   <li class="active"><a href="about.html"  title="公司简介">公司简介</a>


        </li>


   <li ><a href="about.html"  title="企业文化">企业文化</a>


        </li>


   <li ><a href="about.html"  title="工程保修">工程保修</a>


        </li>


   <li ><a href="about.html"  title="装修流程">装修流程</a>


        </li>


   <li ><a href="feedback.html"  title="在线反馈">在线反馈</a>


        </li>


   <li ><a href="contact.html"  title="联系我们">联系我们</a>


        </li>

      </ul>

    </li>


    <li ><span>服务项目</span>


      <ul>

							<li class=""><a href="product.html"  title="全部">全部</a></li>



   <li ><a href="product.html"  title="精装修房">精装修房</a>


        </li>


   <li ><a href="product.html"  title="酒店会所">酒店会所</a>


        </li>


   <li ><a href="product.html"  title="公共设施">公共设施</a>


        </li>


    <li ><span>办公医疗</span>


          <ul>

							<li class=""><a href="product.html"  title="全部">全部</a></li>


            <li><a href="product.html"  title="办公设施">办公设施</a></li>

            <li><a href="product.html"  title="医疗建设">医疗建设</a></li>

          </ul>

        </li>

      </ul>

    </li>


    <li ><span>客户案例</span>


      <ul>

							<li class=""><a href="case.html"  title="全部">全部</a></li>



   <li ><a href="case.html"  title="精装修房">精装修房</a>


        </li>


   <li ><a href="case.html"  title="酒店会所">酒店会所</a>


        </li>


   <li ><a href="case.html"  title="公共设施">公共设施</a>


        </li>


    <li ><span>办公医疗</span>


          <ul>

							<li class=""><a href="case.html"  title="全部">全部</a></li>


            <li><a href="case.html"  title="办公设施">办公设施</a></li>

            <li><a href="case.html"  title="医疗建设">医疗建设</a></li>

          </ul>

        </li>

      </ul>

    </li>


    <li ><span>新闻资讯</span>


      <ul>

							<li class=""><a href="news.html"  title="全部">全部</a></li>



   <li ><a href="news.html"  title="公司新闻">公司新闻</a>


        </li>


   <li ><a href="news.html"  title="行业动态">行业动态</a>


        </li>

      </ul>

    </li>


   <li ><a href="job.html"  title="在线招聘" >在线招聘</a>


    </li>


  </ul>
</nav>

<div id="page">

<nav class="navbar navbar-default met-nav navbar-fixed-top" role="navigation">
        <div class="container">
			<div class="row">
			    <div class="navbar-header">

<a href="index.html" class="navbar-logo vertical-align" title="装饰公司">
						<div class="vertical-align-middle"><%= image_tag "logo.png", alt:"装饰公司", title:"装饰公司" %></div>
					</a>


                </div>

				<div class="pull-right econav">
				<ul>



					<li>
					    <button type="button"  data-target="#site-navbar-search"
      data-toggle="modal">
                               <span class="sr-only">Toggle Search</span>
                               <i class="icon wb-search"></i>
                         </button>
					</li>





					  <button class="mobileMenuBtn" type="button"><span class="icon fa-bars"></span></button>




				</ul>
				</div>
				<div class="collapse navbar-collapse navbar-collapse-toolbar" id="example-navbar-default-collapse">



				<ul class="nav navbar-nav navbar-right navlist">
					<li><a href="index.html" title="首页" class="link">首页</a></li>

					<li class="dropdown margin-left-0 ecodropdown">
						<a
							class="dropdown-toggle link active"
							data-toggle="dropdown"

							href="about.html"
							aria-expanded="false"
							role="button"

							title="关于我们"
						>关于我们 <span class="caret"></span></a>
						<ul class="dropdown-menu dropdown-menu-right bullet" role="menu">

							<li class="visible-xs-block"><a href="about.html"  title="关于我们">关于我们</a></li>


							<li><a href="about.html" class="active"  title="公司简介">公司简介</a></li>

							<li><a href="about.html" class=""  title="企业文化">企业文化</a></li>

							<li><a href="about.html" class=""  title="工程保修">工程保修</a></li>

							<li><a href="about.html" class=""  title="装修流程">装修流程</a></li>

							<li><a href="feedback.html" class=""  title="在线反馈">在线反馈</a></li>

							<li><a href="contact.html" class=""  title="联系我们">联系我们</a></li>

						</ul>
					</li>


					<li class="dropdown margin-left-0 ecodropdown">
						<a
							class="dropdown-toggle link "
							data-toggle="dropdown"

							href="product.html"
							aria-expanded="false"
							role="button"

							title="服务项目"
						>服务项目 <span class="caret"></span></a>
						<ul class="dropdown-menu dropdown-menu-right bullet" role="menu">

							<li class="visible-xs-block"><a href="product.html"  title="全部">全部</a></li>


							<li><a href="product.html" class=""  title="精装修房">精装修房</a></li>

							<li><a href="product.html" class=""  title="酒店会所">酒店会所</a></li>

							<li><a href="product.html" class=""  title="公共设施">公共设施</a></li>

							<li class="dropdown-submenu">
								<a href="product.html" class=""  role="button" tabindex="-1">办公医疗</a>
								<ul class="dropdown-menu animate" role="menu">

									<li role="presentation"><a href="product.html" class="" role="menuitem" tabindex="-1">办公设施</a></li>

									<li role="presentation"><a href="product.html" class="" role="menuitem" tabindex="-1">医疗建设</a></li>

								</ul>
							</li>

						</ul>
					</li>


					<li class="dropdown margin-left-0 ecodropdown">
						<a
							class="dropdown-toggle link "
							data-toggle="dropdown"

							href="case.html"
							aria-expanded="false"
							role="button"

							title="客户案例"
						>客户案例 <span class="caret"></span></a>
						<ul class="dropdown-menu dropdown-menu-right bullet" role="menu">

							<li class="visible-xs-block"><a href="case.html"  title="全部">全部</a></li>


							<li><a href="case.html" class=""  title="精装修房">精装修房</a></li>

							<li><a href="case.html" class=""  title="酒店会所">酒店会所</a></li>

							<li><a href="case.html" class=""  title="公共设施">公共设施</a></li>

							<li class="dropdown-submenu">
								<a href="case.html" class=""  role="button" tabindex="-1">办公医疗</a>
								<ul class="dropdown-menu animate" role="menu">

									<li role="presentation"><a href="case.html" class="" role="menuitem" tabindex="-1">办公设施</a></li>

									<li role="presentation"><a href="case.html" class="" role="menuitem" tabindex="-1">医疗建设</a></li>

								</ul>

							</li>

						</ul>
					</li>


					<li class="dropdown margin-left-0 ecodropdown">
						<a
							class="dropdown-toggle link "
							data-toggle="dropdown"

							href="news.html"
							aria-expanded="false"
							role="button"

							title="新闻资讯"
						>新闻资讯 <span class="caret"></span></a>
						<ul class="dropdown-menu dropdown-menu-right bullet" role="menu">

							<li class="visible-xs-block"><a href="news.html"  title="全部">全部</a></li>


							<li><a href="news.html" class=""  title="公司新闻">公司新闻</a></li>

							<li><a href="news.html" class=""  title="行业动态">行业动态</a></li>

						</ul>
					</li>



					<li class="margin-left-0"><a href="job.html"  title="在线招聘" class="link ">在线招聘</a></li>


				</ul>

				</div>
			</div>
		</div>
    </nav>

	<div class="met-banner-econy"  style="background-color:;" >
	<%= image_tag "1474296568.jpg" %>
	  <div class="econynr">
		<div class="container">
			<div class="row">
					<div class="title">
						<h1>公司简介</h1>
					</div>
					<div class="breadcumb">
						<i class="fa fa-home"></i> <a href="index.html" title="首页">首页</a> &gt; <a href="about.html" >关于我们</a> > <a href="about.html">公司简介</a>
					</div>
				</div>
			</div>
		</div>
	</div>



<div class="hidden-lg hidden-md">

		<div class="met-column-nav  ">
			<div class="container">
				<div class="row">

					<div class="col-md-12 sidebar_tile">
						<div class="row">
							<ul class="met-column-nav-ul">

							<li><a href="about.html" class="link"  title="关于我们">关于我们</a></li>


					<li class="dropdown">

						<a href="about.html" title="公司简介" class="link active">公司简介</a>

					</li>

					<li class="dropdown">

						<a href="about.html" title="企业文化" class="link ">企业文化</a>

					</li>

					<li class="dropdown">

						<a href="about.html" title="工程保修" class="link ">工程保修</a>

					</li>

					<li class="dropdown">

						<a href="about.html" title="装修流程" class="link ">装修流程</a>

					</li>

					<li class="dropdown">

						<a href="feedback.html" title="在线反馈" class="link ">在线反馈</a>

					</li>

					<li class="dropdown">

						<a href="contact.html" title="联系我们" class="link ">联系我们</a>

					</li>

						</ul>
						</div>
					</div>


				</div>
			</div>
		</div>

</div>
<div class="eco-leftnav">
<div class="container">
<div class="row">
<div class="col-md-9 col-xs-12 pull-right">
						<div class="section-title-style">
							<h2>公司简介</h2>
						</div>

<section class="met-show animsition">
	<div class="container">
		<div class="row">
			<div class="met-editor lazyload clearfix">
				<div><p>



	&nbsp;</p><p><%= image_tag "1474095536.jpg" ,style:"width: 300px;  float: right; padding: 0px 10px" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;装饰有限公司成立于1997年，是以家装为主，涉足商装、建材等相关产业的专业性装饰公司。具有施工、设计双乙级资质。通过多年的努力，在业内外形成了良好的口碑。公司先后荣获"全国住宅装饰装修行业自律诚信单位"、"住宅装饰装修优秀企业"、"住宅装饰装修示范优秀奖等多项殊荣，并多次在家居装饰设计大赛中获奖。</p><p><br/>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "优秀的设计、优良的工程、优质的服务"是的承诺，"创新力、凝聚力、想像力，为您打造新天地"是的口号。本着"价格透明化；施工标准化；工艺现代化；材料环保化；人员专业化；服务人性化"的六化原则，服务于每一位客户，致力打造客户满意的精品工程。在为您服务的是一个经过专业系统培训、时间经验丰富的团队，力求以专业的态度和一种持之以恒的精神完成每一个项目。公司汇集了各种设计流派且经验丰富的设计师，工艺精湛的施工队伍采用带薪制管理，全心全意为您构筑舒适温馨的家园。专业严谨的工程监理，随时监督工程质量，完善的服务体系，为您消除后顾之忧。<br/>
	&nbsp;</p><p>



	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 公司凭借严格的管理、高水平的设计、精湛的施工和完善的售后服务深受广大客户的欢迎和信任。随着家装行业的快速发展，公司迅速的成长，不断深化人性化服务，推出"完整家居"理念。把装修从以往单纯提供家庭装修服务转变为提供家居产品服务，以风格化的设计理念、施工工艺、建筑材料和服务体系致力于为消费者打造健康和谐的人居。用风格来整合产品和服务，不仅让您体会到称心满意装修的服务，重要的是让您感受到装修带来的舒适的家居生活。</p><p>



	&nbsp;</p><p>



	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 多年来，公司装饰通过整合产业链资源，优化装饰设计与施工服务，构建了一个汇聚数千名专业人才的建筑装饰产业链条。公司用智慧提升设计，用品质保障施工，在建筑装饰市场赢得无数赞誉口碑。荣获"广东省著名商标"、"深圳老字号"、"深圳知名品牌"、"全国住宅装饰装修行业百强企业"、"中国建筑装饰行业AAA信用企业"、"改革开放30年全国住宅装饰装修行业最具影响力企业"等称号。公司积极参与国家推行的保障房建设项目，与国内知名房地产开发商合作，参与保障房建筑装饰设计与施工，以专业设计、精品施工赢得国家和政府好评，更屡次荣获"国际双年展奖"、"筑巢奖"、"金鹏奖"、"南山区政府质量奖"等奖项。多部作品在中央电视台《前沿》、《交换空间》等栏目中展播。目前，我们正在积极申报"中国驰名商标"、"中国建筑工程鲁班奖"等行业顶尖荣誉。未来，我们将在商务楼宇、星级酒店、工业地产、大型公共空间等领域持续精进。<br/>
	&nbsp;</p><p>



	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 公司以不断探求，开拓创新，与时俱进的精神，全力打造中国一流家装企业。</p></div>
			</div>
		</div>
	</div>
</section>

</div>

<div class="col-md-3 col-xs-12 pull-left">
<div class="met-all-bar">
<div class="hidden-xs hidden-sm">

  <h4>搜索</h4>
	<form method="get" action="search.html" >
	<input type="hidden" name="lang" value="cn">
    <input type="text" name="searchword" placeholder="Search">
    <button type="submit"><span class="sg-Search"></span></button>
  </form>


  <h4>关于我们<span class="sidebaran glyphicon glyphicon-th-list"></span></h4>
  <ul class="category_item met_aside_list" >

    <li><a href="about.html" class='active' title="公司简介" target='_self'><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;公司简介</a>

    </li>

    <li><a href="about.html"  title="企业文化" target='_self'><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;企业文化</a>

    </li>

    <li><a href="about.html"  title="工程保修" target='_self'><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;工程保修</a>

    </li>

    <li><a href="about.html"  title="装修流程" target='_self'><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;装修流程</a>

    </li>

    <li><a href="feedback.html"  title="在线反馈" target='_self'><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;在线反馈</a>

    </li>

    <li><a href="contact.html"  title="联系我们" target='_self'><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;联系我们</a>

    </li>

  </ul>

</div>


  <h4 data-plugin="appear" data-animate="slide-bottom" data-repeat="false">推荐产品</h4>
  <div class="row product_item" data-plugin="appear" data-animate="slide-bottom" data-repeat="false">
 <ul>

  <li class="single_product_item col-xs-4 col-sm-4">
    <a  href="showproduct.html" title="商务会所" target='_self'><%=image_tag "l1389849064.jpg", class:"cover-image", alt:"商务会所", title:"商务会所"%></a>
	  <p>商务会所</p>
      <a  href="showproduct.html" title="商务会所" target='_self'>MORE</a>
  </li>

  <li class="single_product_item col-xs-4 col-sm-4">
    <a  href="showproduct.html" title="商务会所" target='_self'><%=image_tag "l1389849617.jpg", class:"cover-image", alt:"商务会所", title:"商务会所"%></a>
	  <p>商务会所</p>
      <a  href="showproduct.html" title="商务会所" target='_self'>MORE</a>
  </li>

  <li class="single_product_item col-xs-4 col-sm-4">
    <a  href="showproduct.html" title="客厅" target='_self'><%=image_tag "l1389850762.jpg", class:"cover-image", alt:"客厅", title:"客厅"%></a>
	  <p>客厅</p>
      <a  href="showproduct.html" title="客厅" target='_self'>MORE</a>
  </li>

  </ul>
</div>

<div class="clear"></div>

  <h4 data-plugin="appear" data-animate="slide-bottom" data-repeat="false">推荐新闻</h4>
  <ul class="post_item" data-plugin="appear" data-animate="slide-bottom" data-repeat="false">

    <li>Sep 17, 2016<a href="shownews.html" title="低碳建筑首选天然石材 环保健康受欢迎" target='_self'>低碳建筑首选天然石材 环保健康受欢迎</a></li>

    <li>Sep 17, 2016<a href="shownews.html" title="装修旺季促销建材家居景气指数回升" target='_self'>装修旺季促销建材家居景气指数回升</a></li>

    <li>Sep 17, 2016<a href="shownews.html" title="全球原木材原料严重紧缺危及建材行业" target='_self'>全球原木材原料严重紧缺危及建材行业</a></li>

    <li>Jan 14, 2014<a href="shownews.html" title="将文化融入设计 以设计推动创新" target='_self'>将文化融入设计 以设计推动创新</a></li>

    <li>Jan 15, 2014<a href="shownews.html" title="我国玻璃纤维产业规模居世界第一位" target='_self'>我国玻璃纤维产业规模居世界第一位</a></li>

  </ul>


  <h4 data-plugin="appear" data-animate="slide-bottom" data-repeat="false">热门关键词</h4>
  <ul class="clouds" data-plugin="appear" data-animate="slide-bottom" data-repeat="false">

    <li><a href="search.html" title="卧室装修"  target='_self'>卧室装修</a></li>

    <li><a href="search.html" title="酒店装修"  target='_self'>酒店装修</a></li>

    <li><a href="search.html" title="会所装修"  target='_self'>会所装修</a></li>

    <li><a href="search.html" title="房屋精装"  target='_self'>房屋精装</a></li>

  </ul>

</div>
</div>

</div>
</div>
</div>

<div class="ecofootbg">

<div class="met-footnav-eco">
    <div class="container">
		<div class="row mob-masonry">

			<div class="col-md-3 col-sm-6 col-xs-12 list text-left masonry-item">
				<h4>底部简介</h4>
				<p><p>&nbsp; &nbsp; &nbsp; 装饰有限公司成立于1997年，是以家装为主，涉足商装、建材等相关产业的专业性装饰公司。具有施工、设计双乙级资质。通过多年的努力，在业内外形....</p></p>

              <a href="about.html" title="底部简介"  target='_self' class="read-more">查看更多<i class="fa fa-arrow-circle-right"></i></a>


<ul class="social">


				<li><a href="http://wpa.qq.com/msgrd?v=3&uin=123456789&site=qq&menu=yes" rel="nofollow" target="_blank" class="hvr-radial-out">
					<i class="fa fa-qq"></i>
				</a></li>

				<li><a href="" rel="nofollow" target="_blank" class="hvr-radial-out"><i class="fa fa-weibo"></i></a></li>

				<li><a href="" rel="nofollow" target="_blank" class="hvr-radial-out"><i class="icon fa-twitter"></i></a></li>

				<li><a href="" rel="nofollow" target="_blank" class="hvr-radial-out"><i class="icon fa-google-plus"></i></a></li>




				<li>
				<a id="met-weixin"><i class="fa fa-weixin "></i></a>
				<div id="met-weixin-content" class="hide">
					<div class="text-center met-weixin-img"><%= image_tag "1464081530.jpg" %></div>
				</div>
				</li>


</ul>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12 list ecoinfo text-left masonry-item">
				<h4>底部新闻</h4>
				<ul >

					<li><a href="shownews.html" target='_self' title="低碳建筑首选天然石材">低碳建筑首选天然石材</a></li>

					<li><a href="shownews.html" target='_self' title="装修旺季促销建材家居">装修旺季促销建材家居</a></li>

					<li><a href="shownews.html" target='_self' title="全球原木材原料严重紧">全球原木材原料严重紧</a></li>

					<li><a href="shownews.html" target='_self' title="将文化融入设计 以设">将文化融入设计 以设</a></li>

					<li><a href="shownews.html" target='_self' title="我国玻璃纤维产业规模">我国玻璃纤维产业规模</a></li>



				</ul>
			</div>
			<div class="col-md-3 col-sm-6  list col-xs-12 masonry-item">
				<h4>底部图文</h4>
				<div class="gallery">

					<a href="showproduct.html" title="商务会所"  target='_self'><%= image_tag "f1389849064.jpg", alt:"商务会所", title:"商务会所" %></a>

					<a href="showproduct.html" title="商务会所"  target='_self'><%= image_tag "f1389849617.jpg", alt:"商务会所", title:"商务会所" %></a>

					<a href="showproduct.html" title="客厅"  target='_self'><%= image_tag "f1389850762.jpg", alt:"客厅", title:"客厅" %></a>

					<a href="showproduct.html" title="卧室"  target='_self'><%= image_tag "f1389852216.jpg", alt:"卧室", title:"卧室" %></a>

					<a href="showproduct.html" title="别墅"  target='_self'><%= image_tag "f1389852083.jpg", alt:"别墅", title:"别墅" %></a>

					<a href="showproduct.html" title="公寓"  target='_self'><%= image_tag "f1389852374.jpg", alt:"公寓", title:"公寓" %></a>

					<a href="showproduct.html" title="医疗美容"  target='_self'><%= image_tag "f1389862805.jpg", alt:"医疗美容", title:"医疗美容" %></a>

					<a href="showproduct.html" title="医疗体检"  target='_self'><%= image_tag "f1389863570.jpg", alt:"医疗体检", title:"医疗体检" %></a>

					<a href="showproduct.html" title="体育中心-游泳馆"  target='_self'><%= image_tag "f1389720952.jpg", alt:"体育中心-游泳馆", title:"体育中心-游泳馆" %></a>



				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12 list  text-left masonry-item">
				<h4>联系我们</h4>
				<ul  class="contact-info">

							<li><i class="icon pe-map-marker"></i>广东省广州市天河区276号</li>

							<li><i class="icon pe-call"></i><a href="tel:86-12345678901" title="86-12345678901">86-12345678901</a></li>

							<li><i class="icon pe-mail"></i>123456789@qq.com</li>

							<li><i class="icon pe-global"></i>www.jsdaima.com</li>



				</ul>
			</div>

		</div>
	</div>
</div>

<div class="met-links text-center">
    <div class="container">
		<ol class="breadcrumb">
			<li>友情链接 :</li>

			<li><a href="http://www.jsdaima.com/" title="js代码" target="_blank">js代码</a></li>

			<li><a href="http://www.jsdaima.com/js/" title="js代码" target="_blank">js特效</a></li>

			<li><a href="http://www.jsdaima.com/webpage/" title="js代码" target="_blank">前端模板</a></li>

			<li><a href="http://www.jsdaima.com/yuanma/" title="js代码" target="_blank">网站源码</a></li>

			<li><a href="http://www.jsdaima.com/video/" title="js代码" target="_blank">视频教程</a></li>

		</ol>
	</div>
</div>

<footer>
    <div class="container text-center">
		<p>装饰公司 版权所有 2008-2017 湘ICP备8888888 </p>
<p>电话：0731-12345678 12345678  QQ:88888888 999999  Email:admin@admin.com</p>

		<div class="powered_by_metinfo">Powered&nbsp;by&nbsp;<a href="http://www.jsdaima.com/" title="js代码" target="_blank">js代码</a></div>

    </div>
</footer>
</div>


<div class="modal fade modal-3d-flip-vertical" id="site-navbar-search" aria-hidden="true" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-center modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>




<div class="container">
	<div class="row">
	  <div class="search">
        <form role="search" action="search.html">
          <input type='hidden' name='lang' value='cn' />
		  <div class="form-group ">
            <div class="input-search">
              <input type="text" class="form-control" name="searchword" placeholder="搜索">
              <button type="submit" class="input-search-btn"><i class="icon wb-search" aria-hidden="true"></i></button>
            </div>
          </div>
        </form>
		</div>
      </div>
	 </div>



			</div>
		</div>
	</div>
</div>

</div>

<button type="button" class="btn btn-icon btn-primary btn-squared met-scroll-top hide"><i class="icon wb-chevron-up" aria-hidden="true"></i></button>


<script src="js/common.js"></script>
</body>
</html>
