<!DOCTYPE HTML>
<html >
<head>
<meta name="renderer" content="webkit">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="generator" content=""  data-variable=",,,,,zstyle" />
<title>黑色高端大气响应式装修设计公司网站模板下载</title>
<meta name="keywords" content="黑色,高端大气,响应式,装修设计公司,网站模板下载" />
<meta name="description" content="黑色高端大气响应式装修设计公司网站模板下载。" />
<meta name="author" content="js代码" />
<meta name="copyright" content="js代码" />
<!--[if lt IE 10]>
<script src="js/media.match.min.js"></script>
<script src="js/respond.min.js"></script>
<script src="js/classlist.min.js"></script>
<![endif]-->
</head>




<body class="met-navfixed">

<!--[if lte IE 8]>
	<div class="text-center padding-top-50 padding-bottom-50 bg-blue-grey-100">
	<p class="browserupgrade font-size-18">你正在使用一个<strong>过时</strong>的浏览器。请<a href="http://browsehappy.com/" target="_blank">升级您的浏览器</a>，以提高您的体验。</p>
	</div>
<![endif]-->

<nav id="mobileNav" style="display:none;">
  <ul>
    <li class="active"><a  href="index.html" title="首页">首页</a></li>


    <li ><span>关于我们</span>


      <ul>

							<li class=""><a href="about.html"  title="关于我们">关于我们</a></li>



   <li ><a href="about.html"  title="公司简介">公司简介</a>


        </li>


   <li ><a href="about.html"  title="企业文化">企业文化</a>


        </li>


   <li ><a href="about.html"  title="工程保修">工程保修</a>


        </li>


   <li ><a href="about.html"  title="装修流程">装修流程</a>


        </li>


   <li ><a href="feedback.html"  title="在线反馈">在线反馈</a>


        </li>


   <li ><a href="contact.html"  title="联系我们">联系我们</a>


        </li>

      </ul>

    </li>


    <li ><span>服务项目</span>


      <ul>

							<li class=""><a href="product.html"  title="全部">全部</a></li>



   <li ><a href="product.html"  title="精装修房">精装修房</a>


        </li>


   <li ><a href="product.html"  title="酒店会所">酒店会所</a>


        </li>


   <li ><a href="product.html"  title="公共设施">公共设施</a>


        </li>


    <li ><span>办公医疗</span>


          <ul>

							<li class=""><a href="product.html"  title="全部">全部</a></li>


            <li><a href="product.html"  title="办公设施">办公设施</a></li>

            <li><a href="product.html"  title="医疗建设">医疗建设</a></li>

          </ul>

        </li>

      </ul>

    </li>


    <li ><span>客户案例</span>


      <ul>

							<li class=""><a href="case.html"  title="全部">全部</a></li>



   <li ><a href="case.html"  title="精装修房">精装修房</a>


        </li>


   <li ><a href="case.html"  title="酒店会所">酒店会所</a>


        </li>


   <li ><a href="case.html"  title="公共设施">公共设施</a>


        </li>


    <li ><span>办公医疗</span>


          <ul>

							<li class=""><a href="case.html"  title="全部">全部</a></li>


            <li><a href="case.html"  title="办公设施">办公设施</a></li>

            <li><a href="case.html"  title="医疗建设">医疗建设</a></li>

          </ul>

        </li>

      </ul>

    </li>


    <li ><span>新闻资讯</span>


      <ul>

							<li class=""><a href="news.html"  title="全部">全部</a></li>



   <li ><a href="news.html"  title="公司新闻">公司新闻</a>


        </li>


   <li ><a href="news.html"  title="行业动态">行业动态</a>


        </li>

      </ul>

    </li>


   <li ><a href="job.html"  title="在线招聘" >在线招聘</a>


    </li>


  </ul>
</nav>

<div id="page">

    


<div class="main-slider met-banner" style="background: url(images/1474302297.jpg) 50% 50% no-repeat; background-size: cover;transition: all 0.3s;">
  <div  class="rev_slider_wrapper" >
    <div class="tp-banner rev_slider tp-overflow-hidden" data-alias="showcase-carousel"  eco_arrows_open="true" eco_arrows="hermes"  eco_arrows_margin="20" eco_bullets_open="true" eco_bullets="uranus"  eco_bullets_direction="horizontal" eco_bullets_align_hor="center" eco_bullets_align_vert="bottom" eco_bullets_offset_hor="0" eco_bullets_offset_vert="20"  data-version="5.2.5.4">
      <ul>


        <li data-transition="boxslide" data-slotamount="random" data-masterspeed="1000" data-thumb="upload/1474302297.jpg" data-link="#"  data-slideindex="back" data-saveperformance="off"  data-title="我们可以提供" >
		<%= image_tag "1474302297.jpg",  alt:"我们可以提供" %>

          <div class="tp-caption lfb tp-resizeme ecoslidert"
                    data-x="center" data-hoffset="['0','0','0','0']"
                    data-y="center" data-voffset="['-80','-80','-80','-60']"
					data-fontsize="['46','46','46','28']"
			        data-lineheight="['46','46','46','28']"
                    data-start="1000"
			        data-transform_idle="o:1;"data-transform_in="y:top;s:1500;e:Power3.easeOut;"data-transform_out="y:top;s:1000;e:Power2.easeIn;"data-splitin="none"data-splitout="none"
					style="color:; background:transparent;padding:0px;">我们可以提供</div>

          <div class="tp-caption lfb tp-resizeme ecodesc"
                    data-x="center" data-hoffset="['0','0','0','0']"
                    data-y="center" data-voffset="['10','10','10','15']"
					data-fontsize="['32','32','32','24']"
			        data-lineheight="['46','46','46','38']"
                    data-start="1500"
			        data-transform_idle="o:1;"data-transform_in="x:left;s:1500;e:Power3.easeOut;"data-transform_out="x:left;s:1000;e:Power2.easeIn;"data-splitin="none"data-splitout="none" style="color:">更优质的服务</div>

          <div class="tp-caption sfb tp-resizeme"
                    data-x="center" data-hoffset="['0','0','0','0']"
                    data-y="center" data-voffset="['100','100','100','80']"
					data-fontsize="['16','16','16','14']"
			        data-lineheight="['16','16','16','14']"
                    data-start="2000"
			        data-transform_idle="o:1;"data-transform_in="x:right;s:1500;e:Power3.easeOut;"data-transform_out="x:right;s:1000;e:Power2.easeIn;"data-splitin="none"data-splitout="none" >
             <a href="#" style="color:; border-color:;" class="banner-btn">查看更多<i class="fa fa-arrow-circle-right"></i></a>
          </div>




        </li>

        <li data-transition="boxslide" data-slotamount="random" data-masterspeed="1000" data-thumb="upload/1474302764.jpg" data-link="#"  data-slideindex="back" data-saveperformance="off"  data-title="我们可以提供" >
		<%= image_tag "1474302764.jpg",  alt:"我们可以提供" %>

          <div class="tp-caption lfb tp-resizeme ecoslidert"
                    data-x="left" data-hoffset="['0','100','100','100']"
                    data-y="center" data-voffset="['-80','-80','-80','-60']"
					data-fontsize="['46','46','46','28']"
			        data-lineheight="['46','46','46','28']"
                    data-start="1000"
			        data-transform_idle="o:1;"data-transform_in="y:top;s:1500;e:Power3.easeOut;"data-transform_out="y:top;s:1000;e:Power2.easeIn;"data-splitin="none"data-splitout="none"
					style="color:; background:transparent;padding:0px;">我们可以提供</div>

          <div class="tp-caption lfb tp-resizeme ecodesc"
                    data-x="left" data-hoffset="['0','100','100','100']"
                    data-y="center" data-voffset="['10','10','10','15']"
					data-fontsize="['32','32','32','24']"
			        data-lineheight="['46','46','46','38']"
                    data-start="1500"
			        data-transform_idle="o:1;"data-transform_in="x:left;s:1500;e:Power3.easeOut;"data-transform_out="x:left;s:1000;e:Power2.easeIn;"data-splitin="none"data-splitout="none" style="color:">更优质的服务</div>

          <div class="tp-caption sfb tp-resizeme"
                    data-x="left" data-hoffset="['0','100','100','100']"
                    data-y="center" data-voffset="['100','100','100','80']"
					data-fontsize="['16','16','16','14']"
			        data-lineheight="['16','16','16','14']"
                    data-start="2000"
			        data-transform_idle="o:1;"data-transform_in="x:right;s:1500;e:Power3.easeOut;"data-transform_out="x:right;s:1000;e:Power2.easeIn;"data-splitin="none"data-splitout="none" >
             <a href="#" style="color:; border-color:;" class="banner-btn">查看更多<i class="fa fa-arrow-circle-right"></i></a>
          </div>




        </li>

        <li data-transition="boxslide" data-slotamount="random" data-masterspeed="1000" data-thumb="upload/1474302290.jpg"  data-saveperformance="off"  data-title="我们可以提供" >
		<%= image_tag"1474302290.jpg",  alt:"我们可以提供"%>

          <div class="tp-caption lfb tp-resizeme ecoslidert"
                    data-x="right" data-hoffset="['0','100','100','100']"
                    data-y="center" data-voffset="['-80','-80','-80','-60']"
					data-fontsize="['46','46','46','28']"
			        data-lineheight="['46','46','46','28']"
                    data-start="1000"
			        data-transform_idle="o:1;"data-transform_in="y:top;s:1500;e:Power3.easeOut;"data-transform_out="y:top;s:1000;e:Power2.easeIn;"data-splitin="none"data-splitout="none"
					style="color:; background:transparent;padding:0px;">我们可以提供</div>

          <div class="tp-caption lfb tp-resizeme ecodesc"
                    data-x="right" data-hoffset="['0','100','100','100']"
                    data-y="center" data-voffset="['10','10','10','15']"
					data-fontsize="['32','32','32','24']"
			        data-lineheight="['46','46','46','38']"
                    data-start="1500"
			        data-transform_idle="o:1;"data-transform_in="x:left;s:1500;e:Power3.easeOut;"data-transform_out="x:left;s:1000;e:Power2.easeIn;"data-splitin="none"data-splitout="none" style="color:">更优质的服务</div>

        </li>

      </ul>
	  <div class="tp-bannertimer" style="height: 6px; background-color: rgba(0, 0, 0, 0.14902);top:0px;"></div>
    </div>
  </div>
</div>


	<div class="met-index-service met-index-body">
<div class="container services-bg">
			<h3 class="invisible" data-plugin="appear" data-animate="slide-top" data-repeat="false"><a href="product.html" title="我们的服务" target='_self'>我们的服务</a></h3>
			<p class="desc invisible" data-plugin="appear" data-animate="fade" data-repeat="false">我们为不同行业提供专业的装修服务</p>
                    <div class="row">

<div class="col-lg-6 col-md-12" data-plugin="appear" data-animate="slide-bottom" data-repeat="false">


					<a href="product.html" title="精装修房" target='_self'>

							<div class="services-box" >
                               <%= image_tag "1474115103x.jpg",  title:"精装修房", alt:"精装修房" %>
                                <div class="content">
                                    <h4>精装修房</h4>
                                    <p>本设计从现在人的角度，以现在手法融合东方古典美学，天人合一的居住理念，结合客户审美取向，空间灯具，家私及饰品相当另类。汇聚东方文化的宽阔气度，打造崭新的新东方主义，放眼国际的顶级居住空间。更置中国人的</p>
                                </div>
                            </div>

					</a>




					<a href="product.html" title="酒店会所" target='_self'>

							<div class="services-box" >
                               <%= image_tag "1389849617x.jpg",  title:"酒店会所", alt:"酒店会所" %>
                                <div class="content">
                                    <h4>酒店会所</h4>
                                    <p>本会所的设计从传统的英伦绅士俱乐部深沉而又丰富的色调中获得灵感。舒适，稍带些世故，有着传统感和历史感，力求传达出一种温暖而阳刚的主题，打造温暖柔软的轮廓，塑造会所空间安静放松的环境。历史感和当代细节的</p>
                                </div>
                            </div>

					</a>

		</div><div class='col-lg-6 col-md-12'>


					<a href="product.html" title="公共设施" target='_self'>

							<div class="services-box" >
                               <%= image_tag "1389720775x.jpg", title:"公共设施", alt:"公共设施" %>
                                <div class="content">
                                    <h4>公共设施</h4>
                                    <p>本案设计含大堂、电梯间、过道、会议室、办公室、活动中心、娱乐室、食堂、包厢等功能区域及配套。作为一个办公活动空间的专业个案，在平面规划中自始至终遵循实用、功能需求和人性化管理充分结合的原则。既结合办公</p>
                                </div>
                            </div>

					</a>




					<a href="product.html" title="办公医疗" target='_self'>

							<div class="services-box" >
                               <%= image_tag "1389848073x.jpg",  title:"办公医疗", alt:"办公医疗" %>
                                <div class="content">
                                    <h4>办公医疗</h4>
                                    <p>本案设计为现代风格，米黄色调贯穿整个空间，蓝色和绿色加以做点缀，突出现代风格的实用性和灵活性特点。一层大厅及公共空间是人流向最密集的地方，为明确功能的区分，通过吊顶造型、地面材料对区域进行划分和导引，</p>
                                </div>
                            </div>

					</a>



        </div>



	</div>
</div>
</div>

	<div class="met-index-about met-index-body">
		<div class="container-fluid">
			<div class="left_side "   data-bg=<%= image_tag "about_bg.jpg" %> bg-repeat="false">
				<div class="we_are_opacity">

					<div class="we_are_border">
						<h2>We are E.s.t 2005</h2>
					</div>

				</div>
			</div>
			<div class="right_side"   data-plugin="appear" data-animate="fade" data-repeat="false">
				<div class="we_are_deatails">
					<h2><a href="about.html"  title="关于我们"  target='_self'>关于我们</a></h2>
					<p><p>&nbsp; &nbsp; &nbsp; 装饰有限公司成立于1997年，是以家装为主，涉足商装、建材等相关产业的专业性装饰公司。具有施工、设计双乙级资质。通过多年的努力，在业内外形成了良好的口碑。公司先后荣获"全国住宅装饰装修行业自律诚信单位"、"住宅装饰装修优秀企业"、"住宅装饰装修示范优秀奖等多项殊荣，并多次在家居装饰设计大赛中获奖。&nbsp;</p><p>&nbsp; &nbsp; &nbsp; "优秀的设计、优良的工程、优质的服务"是的承诺，"创新力、凝聚力、想像力，为您打造新天地"是的口号。本着"价格透明化；施工标准化；工艺现代化；材料环保化；人员专业化；服务人性化"的六化原则，服务于每一位客户，致力打造客户满意的精品工程。在为您服务的是一个经过专业系统培训、时间经验丰富的团队，力求以专业的态度和一种持之以恒的精神完成每一个项目。公司汇集了各种设计流派且经验丰富的设计师，工艺精湛的施工队伍采用带薪制管理，全心全意为您构筑舒适温馨的家园。专业严谨的工程监理，随时监督工程质量，完善的服务体系，为您消除后顾之忧。</p></p>
				</div>
			</div>
        </div>
	</div>

	<div class="met-index-product met-index-body">
		<div class="container">
			<h3 class="invisible" data-plugin="appear" data-animate="slide-top" data-repeat="false"><a href="product.html" title="热门项目" target='_self'>热门项目</a></h3>
			<p class="desc invisible" data-plugin="appear" data-animate="fade" data-repeat="false">我们有强大的服务团队，为企业提供一对一订制服务</p>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="owl-carousel">

                                <li class="project-item ">
                                    <a href="showproduct.html" title="商务会所" target='_self'>
                                        <div class="project-img">
                                            <%= image_tag "x1389849064.jpg", class:"owl-lazy", alt:"商务会所", class:"cover-image"%>
                                        </div>
                                        <div class="project-intro">
                                            <h4 class="project-title">商务会所</h4>
                                            <div class="project-descr">本设计中推崇的是一种自然流露的作风，奢华的且略带优雅的贵族气质。整个设计定位较之</div>
                                        </div>
                                    </a>
                                </li>

                                <li class="project-item ">
                                    <a href="showproduct.html" title="商务会所" target='_self'>
                                        <div class="project-img">
                                            <%= image_tag "x1389849617.jpg", class:"owl-lazy", alt:"商务会所", class:"cover-image"%>
                                        </div>
                                        <div class="project-intro">
                                            <h4 class="project-title">商务会所</h4>
                                            <div class="project-descr">本会所的设计从传统的英伦绅士俱乐部深沉而又丰富的色调中获得灵感。舒适，稍带些世故</div>
                                        </div>
                                    </a>
                                </li>

                                <li class="project-item ">
                                    <a href="showproduct.html" title="客厅" target='_self'>
                                        <div class="project-img">
                                            <%= image_tag "x1389850762.jpg", class:"owl-lazy", alt:"客厅", class:"cover-image" %>
                                        </div>
                                        <div class="project-intro">
                                            <h4 class="project-title">客厅</h4>
                                            <div class="project-descr">本设计从现在人的角度，以现在手法融合东方古典美学，天人合一的居住理念，结合客户审</div>
                                        </div>
                                    </a>
                                </li>

                                <li class="project-item ">
                                    <a href="showproduct.html" title="卧室" target='_self'>
                                        <div class="project-img">
                                            <%= image_tag "x1389852216.jpg", class:"owl-lazy", alt:"卧室", class:"cover-image" %>
                                        </div>
                                        <div class="project-intro">
                                            <h4 class="project-title">卧室</h4>
                                            <div class="project-descr">唯美设计 简约温馨 空间格局利用的恰到好处 给人在视觉上一个洗礼 完全忘乎外界的</div>
                                        </div>
                                    </a>
                                </li>

                                <li class="project-item ">
                                    <a href="showproduct.html" title="别墅" target='_self'>
                                        <div class="project-img">
                                            <%= image_tag "x1389852083.jpg", class:"owl-lazy", alt:"别墅", class:"cover-image" %>
                                        </div>
                                        <div class="project-intro">
                                            <h4 class="project-title">别墅</h4>
                                            <div class="project-descr">现代人快节奏的生活步调,缺乏一种"停下来"的姿态.本案中的轻古典,摒弃了现代风格</div>
                                        </div>
                                    </a>
                                </li>

                                <li class="project-item ">
                                    <a href="showproduct.html" title="公寓" target='_self'>
                                        <div class="project-img">
                                            <%= image_tag "x1389852374.jpg", class:"owl-lazy", alt:"公寓", class:"cover-image" %>
                                        </div>
                                        <div class="project-intro">
                                            <h4 class="project-title">公寓</h4>
                                            <div class="project-descr">本案为精装公寓交楼标准样板房展示，实用面积仅为45平方，一房一厅，一厨一卫，独立</div>
                                        </div>
                                    </a>
                                </li>

                                <li class="project-item ">
                                    <a href="showproduct.html" title="医疗美容" target='_self'>
                                        <div class="project-img">
                                            <%=image_tag "x1389862805.jpg", class:"owl-lazy", alt:"医疗美容", class:"cover-image"%>
                                        </div>
                                        <div class="project-intro">
                                            <h4 class="project-title">医疗美容</h4>
                                            <div class="project-descr">设计师运用模块式的方格勾勒出陈列的空间，天花图案的主题则是"大树为小动物的庇护所</div>
                                        </div>
                                    </a>
                                </li>

                                <li class="project-item ">
                                    <a href="showproduct.html" title="医疗体检" target='_self'>
                                        <div class="project-img">
                                            <%= image_tag "x1389863570.jpg", class:"owl-lazy",  alt:"医疗体检", class:"cover-image"%>
                                        </div>
                                        <div class="project-intro">
                                            <h4 class="project-title">医疗体检</h4>
                                            <div class="project-descr">一、功能：主要负责医院的接待个人与团体体检的场所
二、氛围：温馨、和谐
三、</div>
                                        </div>
                                    </a>
                                </li>

                                <li class="project-item ">
                                    <a href="showproduct.html" title="体育中心-游泳馆" target='_self'>
                                        <div class="project-img">
                                            <%= image_tag "x1389720952.jpg", class:"owl-lazy",  alt:"体育中心-游泳馆", class:"cover-image"%>
                                        </div>
                                        <div class="project-intro">
                                            <h4 class="project-title">体育中心-游泳馆</h4>
                                            <div class="project-descr">游泳馆的设计充分体现了可持续发展的思想，在节省能源和资源、固体废弃物处理、电子干</div>
                                        </div>
                                    </a>
                                </li>

                                <li class="project-item ">
                                    <a href="showproduct.html" title="地铁站" target='_self'>
                                        <div class="project-img">
                                            <%= image_tag "x1389720775.jpg", class:"owl-lazy", alt:"地铁站", class:"cover-image"%>
                                        </div>
                                        <div class="project-intro">
                                            <h4 class="project-title">地铁站</h4>
                                            <div class="project-descr">该地铁站的设计灵感来源于巴黎地铁站，充满独特装饰和艺术展品，颇具人文特色。与其他</div>
                                        </div>
                                    </a>
                                </li>

                                <li class="project-item ">
                                    <a href="showproduct.html" title="工商银行" target='_self'>
                                        <div class="project-img">
                                            <%=image_tag "p1389721311.jpg", class:"owl-lazy", alt:"工商银行", class:"cover-image"%>
                                        </div>
                                        <div class="project-intro">
                                            <h4 class="project-title">工商银行</h4>
                                            <div class="project-descr">银行位于城市的各个角落，属于国家的重点安全防范单位，它具有规模多样、重要设施繁多</div>
                                        </div>
                                    </a>
                                </li>

                                <li class="project-item ">
                                    <a href="showproduct.html" title="大堂" target='_self'>
                                        <div class="project-img">
                                            <%= image_tag "x1389722535.jpg", class:"owl-lazy", alt:"大堂", class:"cover-image"%>
                                        </div>
                                        <div class="project-intro">
                                            <h4 class="project-title">大堂</h4>
                                            <div class="project-descr">本案设计含大堂、电梯间、过道、会议室、办公室、活动中心、娱乐室、食堂、包厢等功能</div>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </di
        </div>
    </div>

	<div class="met-index-case met-index-body">
		<div class="container">
			<h3 class="invisible" data-plugin="appear" data-animate="slide-top" data-repeat="false"><a href="case.html" title="客户案例" target='_self'>客户案例</a></h3>
			<p class="desc invisible" data-plugin="appear" data-animate="fade" data-repeat="false">我们整理了部分客户案例供您欣赏</p>
        </div>
			<ul class="nav nav-tabs invisible"  data-plugin="appear" data-animate="fade" data-repeat="false">
				<li class="active">
					<a href="#caselist" title="全部" data-toggle="tab" data-num='10' data-filter="*">全部</a>
				</li>

				<li>
					<a href="#caselist" title="精装修房" data-toggle="tab" data-filter="list_29">精装修房</a>
				</li>

				<li>
					<a href="#caselist" title="酒店会所" data-toggle="tab" data-filter="list_30">酒店会所</a>
				</li>

				<li>
					<a href="#caselist" title="公共设施" data-toggle="tab" data-filter="list_31">公共设施</a>
				</li>

				<li>
					<a href="#caselist" title="办公医疗" data-toggle="tab" data-filter="list_32">办公医疗</a>
				</li>

			</ul>

			<ul class="blocks no-space blocks-xlg-5 blocks-md-5 blocks-sm-3 blocks-xs-2" id="caselist">


        <li data-type="list_29" class="project-item">
		      <div class="widget widget-shadow">
				<figure class="widget-header cover">
                                    <a href="showcase.html" title="公寓" target='_self'>
                                        <div class="project-img">
                                            <%= image_tag "x1474122847.jpg", alt:"公寓", class:"cover-image"%>
                                        </div>
                                        <div class="project-intro">
                                            <h4 class="project-title">公寓</h4>
                                            <div class="project-descr">本案为精装公寓交楼标准样板房展示，实用面积仅为45平方，一房一厅，一厨一卫，独立生活阳台。以简约低调奢华的手法来展示当代都市白领们的高雅气质很生活品味，以人为本..</div>
                                        </div>
                                    </a>
					</figure>
				</div>
        </li>

        <li data-type="list_29" class="project-item">
		      <div class="widget widget-shadow">
				<figure class="widget-header cover">
                                    <a href="showcase.html" title="别墅" target='_self'>
                                        <div class="project-img">
                                            <%= image_tag "x1474123087.jpg", alt:"别墅", class:"cover-image"%>
                                        </div>
                                        <div class="project-intro">
                                            <h4 class="project-title">别墅</h4>
                                            <div class="project-descr">现代人快节奏的生活步调,缺乏一种"停下来"的姿态.本案中的轻古典,摒弃了现代风格完全简约的呆板与单调,在空间设计,材料,色彩运用,家具装饰品陈设上,对园林古文化..</div>
                                        </div>
                                    </a>
					</figure>
				</div>
        </li>

        <li data-type="list_29" class="project-item">
		      <div class="widget widget-shadow">
				<figure class="widget-header cover">
                                    <a href="showcase.html" title="卧室" target='_self'>
                                        <div class="project-img">
                                            <%= image_tag "x1474122799.jpg", alt:"卧室", class:"cover-image"%>
                                        </div>
                                        <div class="project-intro">
                                            <h4 class="project-title">卧室</h4>
                                            <div class="project-descr">唯美设计 简约温馨 空间格局利用的恰到好处 给人在视觉上一个洗礼 完全忘乎外界的繁琐。</div>
                                        </div>
                                    </a>
					</figure>
				</div>
        </li>



        <li data-type="list_30" class="project-item">
		      <div class="widget widget-shadow">
				<figure class="widget-header cover">
                                    <a href="showcase.html" title="主题会所" target='_self'>
                                        <div class="project-img">
                                            <%= image_tag "x1474124197.jpg", alt:"主题会所", class:"cover-image"%>
                                        </div>
                                        <div class="project-intro">
                                            <h4 class="project-title">主题会所</h4>
                                            <div class="project-descr">本设计中推崇的是一种自然流露的作风，奢华的且略带优雅的贵族气质。整个设计定位较之于传统意义上的法式风格，又杂糅了一些简约时尚风格，细节均体出现柔美精致的姣好的轮..</div>
                                        </div>
                                    </a>
					</figure>
				</div>
        </li>

        <li data-type="list_30" class="project-item">
		      <div class="widget widget-shadow">
				<figure class="widget-header cover">
                                    <a href="showcase.html" title="主题酒店" target='_self'>
                                        <div class="project-img">
                                            <%= image_tag "x1474124315.jpg", alt:"主题酒店", class:"cover-image"%>
                                        </div>
                                        <div class="project-intro">
                                            <h4 class="project-title">主题酒店</h4>
                                            <div class="project-descr">酒店功能以餐厅和住宿为主，附以会议室等。整体为旧楼改造工程，因此针对周边环境和消费人群，整体设计格调，以现块面结合为主，附以明快的色调。</div>
                                        </div>
                                    </a>
					</figure>
				</div>
        </li>

        <li data-type="list_30" class="project-item">
		      <div class="widget widget-shadow">
				<figure class="widget-header cover">
                                    <a href="showcase.html" title="商务会所" target='_self'>
                                        <div class="project-img">
                                            <%= image_tag "x1474123306.jpg", alt:"商务会所", class:"cover-image"%>
                                        </div>
                                        <div class="project-intro">
                                            <h4 class="project-title">商务会所</h4>
                                            <div class="project-descr">本会所的设计从传统的英伦绅士俱乐部深沉而又丰富的色调中获得灵感。舒适，稍带些世故，有着传统感和历史感，力求传达出一种温暖而阳刚的主题，打造温暖柔软的轮廓，塑造会..</div>
                                        </div>
                                    </a>
					</figure>
				</div>
        </li>



        <li data-type="list_31" class="project-item">
		      <div class="widget widget-shadow">
				<figure class="widget-header cover">
                                    <a href="showcase.html" title="办公室" target='_self'>
                                        <div class="project-img">
                                            <%= image_tag "x1474125206.jpg", alt:"办公室", class:"cover-image"%>
                                        </div>
                                        <div class="project-intro">
                                            <h4 class="project-title">办公室</h4>
                                            <div class="project-descr">本项目在设计定位上，以展示地产公司实力为依托，在功能空间划分上，以接待，办公，为一体的中型办公空间。视觉立求大气，开放，有空间的渗透性，围合性，才彰显地产公司的..</div>
                                        </div>
                                    </a>
					</figure>
				</div>
        </li>

        <li data-type="list_31" class="project-item">
		      <div class="widget widget-shadow">
				<figure class="widget-header cover">
                                    <a href="showcase.html" title="大堂" target='_self'>
                                        <div class="project-img">
                                            <%= image_tag "x1474124649.jpg", alt:"大堂", class:"cover-image"%>
                                        </div>
                                        <div class="project-intro">
                                            <h4 class="project-title">大堂</h4>
                                            <div class="project-descr">本案设计含大堂、电梯间、过道、会议室、办公室、活动中心、娱乐室、食堂、包厢等功能区域及配套。作为一个办公活动空间的专业个案，在平面规划中自始至终遵循实用、功能需..</div>
                                        </div>
                                    </a>
					</figure>
				</div>
        </li>

        <li data-type="list_31" class="project-item">
		      <div class="widget widget-shadow">
				<figure class="widget-header cover">
                                    <a href="showcase.html" title="工商银行" target='_self'>
                                        <div class="project-img">
                                            <%= image_tag "x1474124546.jpg", alt:"工商银行", class:"cover-image"%>
                                        </div>
                                        <div class="project-intro">
                                            <h4 class="project-title">工商银行</h4>
                                            <div class="project-descr">银行位于城市的各个角落，属于国家的重点安全防范单位，它具有规模多样、重要设施繁多、出入人员复杂、管理涉及领域广等特点。它作为当今社会货币的主要流通场所、国家经济..</div>
                                        </div>
                                    </a>
					</figure>
				</div>
        </li>



        <li data-type="list_32" class="project-item">
		      <div class="widget widget-shadow">
				<figure class="widget-header cover">
                                    <a href="showcase.html" title="医院病房" target='_self'>
                                        <div class="project-img">
                                            <%= image_tag "x1474125601.jpg", alt:"医院病房", class:"cover-image"%>
                                        </div>
                                        <div class="project-intro">
                                            <h4 class="project-title">医院病房</h4>
                                            <div class="project-descr">本院设计在功能布局上清晰合理，突显出"以人为本，以病人为中心"的宗旨。采用现代简约的设计手法、简单的色彩搭配，塑造出健康温馨的医疗环境。大厅及各功能科室采用石材..</div>
                                        </div>
                                    </a>
					</figure>
				</div>
        </li>

        <li data-type="list_32" class="project-item">
		      <div class="widget widget-shadow">
				<figure class="widget-header cover">
                                    <a href="showcase.html" title="医院大厅" target='_self'>
                                        <div class="project-img">
                                            <%= image_tag "x1474125322.jpg", alt:"医院大厅", class:"cover-image"%>
                                        </div>
                                        <div class="project-intro">
                                            <h4 class="project-title">医院大厅</h4>
                                            <div class="project-descr">本案设计为现代风格，米黄色调贯穿整个空间，蓝色和绿色加以做点缀，突出现代风格的实用性和灵活性特点。一层大厅及公共空间是人流向最密集的地方，为明确功能的区分，通过..</div>
                                        </div>
                                    </a>
					</figure>
				</div>
        </li>

        <li data-type="list_32" class="project-item">
		      <div class="widget widget-shadow">
				<figure class="widget-header cover">
                                    <a href="showcase.html" title="医疗体检" target='_self'>
                                        <div class="project-img">
                                            <%= image_tag "x1474125316.jpg", alt:"医疗体检", class:"cover-image"%>
                                        </div>
                                        <div class="project-intro">
                                            <h4 class="project-title">医疗体检</h4>
                                            <div class="project-descr">一、功能：主要负责医院的接待个人与团体体检的场所 二、氛围：温馨、和谐 三、材质：主要采用大理石、木纹饰面板、橡胶地板、铝塑天花、花纹墙纸 四、灯光：暖色 五、..</div>
                                        </div>
                                    </a>
					</figure>
				</div>
        </li>


				</ul>
</div>

	<div class="met-index-news met-index-body">
		<div class="container">
			<h3 class="invisible" data-plugin="appear" data-animate="slide-top" data-repeat="false"><a href="news.html" title="新闻中心" target='_self'>新闻中心</a></h3>
			<p class="desc invisible" data-plugin="appear" data-animate="fade" data-repeat="false">最新行业新闻资讯</p>

			<div class="row">

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 single-blog-post"  data-plugin="appear" data-animate="slide-bottom" data-repeat="false">
					<div class="img-holder">
						<%= image_tag "x1474096450.jpg", class:"cover-image", alt:"低碳建筑首选天然石材 环保健康受欢迎", title:"低碳建筑首选天然石材 环保健康受欢迎"%>
						<div class="overlay">

						  <a href="shownews.html" title="低碳建筑首选天然石材 环保健康受欢迎" target='_self'>
							<div class="overlays">
							</div>
						  </a>
						</div>
						<div class="date">
							<b>17</b> <br> Sep
						</div>
					</div>
					<ul>
						<li><span>admin</span></li>
						<li><p><i class="icon wb-eye margin-right-5" aria-hidden="true"></i>337</p></li>
					</ul>
					<a href="shownews.html" title="低碳建筑首选天然石材 环保健康受欢迎" target='_self'><h2>低碳建筑首选天然石材 环保健康受欢迎</h2></a>
					<p>所谓低碳经济，是指在可持续发展理念指导下，通过技术创新、制度创新、产业转型等多种手段，尽可能地减少煤炭石油等高碳能源消耗，减少排放，达到经济社会发展与生态环境保..</p>
				</div>

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 single-blog-post"  data-plugin="appear" data-animate="slide-bottom" data-repeat="false">
					<div class="img-holder">
						<%= image_tag "x1474096459.jpg", class:"cover-image",  alt:"装修旺季促销建材家居景气指数回升", title:"装修旺季促销建材家居景气指数回升" %>
						<div class="overlay">

						  <a href="shownews.html" title="装修旺季促销建材家居景气指数回升" target='_self'>
							<div class="overlays">
							</div>
						  </a>
						</div>
						<div class="date">
							<b>17</b> <br> Sep
						</div>
					</div>
					<ul>
						<li><span>admin</span></li>
						<li><p><i class="icon wb-eye margin-right-5" aria-hidden="true"></i>193</p></li>
					</ul>
					<a href="shownews.html" title="装修旺季促销建材家居景气指数回升" target='_self'><h2>装修旺季促销建材家居景气指数回升</h2></a>
					<p>  由中国建筑材料流通协会发布的全国建材家居景气指数BHI9月份为119.02，环比上升10.05%，同比上升1.35%。这符合业界预期。由中国建筑材料流通协会..</p>
				</div>

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 single-blog-post"  data-plugin="appear" data-animate="slide-bottom" data-repeat="false">
					<div class="img-holder">
						<%= image_tag "x1474096485.jpg", class:"cover-image",  alt:"全球原木材原料严重紧缺危及建材行业", title:"全球原木材原料严重紧缺危及建材行业"%>
						<div class="overlay">

						  <a href="shownews.html" title="全球原木材原料严重紧缺危及建材行业" target='_self'>
							<div class="overlays">
							</div>
						  </a>
						</div>
						<div class="date">
							<b>17</b> <br> Sep
						</div>
					</div>
					<ul>
						<li><span>admin</span></li>
						<li><p><i class="icon wb-eye margin-right-5" aria-hidden="true"></i>133</p></li>
					</ul>
					<a href="shownews.html" title="全球原木材原料严重紧缺危及建材行业" target='_self'><h2>全球原木材原料严重紧缺危及建材行业</h2></a>
					<p>众所周知，海啸给中国地板、家具行业的影响正在逐步显现。由于印尼等国实行出口紧缩政策，使全球原木材原料供给吃紧，国内那些过分依靠海外采购原木材的下游企业将面临难关..</p>
				</div>

			</div>
		</div>
	</div>

	<div class="met-index-cases met-index-body"    data-bg="cases_bg.jpg" bg-repeat="false">
		<div class="container">
           <div class="owl-carousel" data-plugin="appear" data-animate="fade" data-repeat="false">


					<div class="item">

                                            <div class="testimonials">
                                                <div class="testimonials-content">
                                                    <h3>办公室装修</h3>
                                                    <p>一对一订制服务很不错，为我们公司制定了一套相当不错的方案，很好的解决了我们公司的难题，值得合作的公司。 "优秀的设计、优良的工程、优质的服务"是的承诺，"创新力</p>
                                                </div>

                                                <div class="testimonials-author">
                                                    <%=image_tag "x1474449984.jpg", class:"owl-lazy",  title:"客户王女士", alt:"客户王女士",  height:"299" %>
                                                    <span class="t-mgr30"> 客户王女士 </span>
                                                </div>
                                            </div>

					</div>

					<div class="item">

                                            <div class="testimonials">
                                                <div class="testimonials-content">
                                                    <h3>客厅装修</h3>
                                                    <p>一对一订制服务很不错，为我们公司制定了一套相当不错的方案，很好的解决了我们公司的难题，值得合作的公司。 "优秀的设计、优良的工程、优质的服务"是的承诺，"创新力</p>
                                                </div>

                                                <div class="testimonials-author">
                                                    <%= image_tag "x1474449689.jpg",  class:"owl-lazy",  title:"客户徐老板", alt:"客户徐老板",  height:"299" %>
                                                    <span class="t-mgr30"> 客户徐老板 </span>
                                                </div>
                                            </div>

					</div>

					<div class="item">

                                            <div class="testimonials">
                                                <div class="testimonials-content">
                                                    <h3>客厅装修</h3>
                                                    <p>一对一订制服务很不错，为我们公司制定了一套相当不错的方案，很好的解决了我们公司的难题，值得合作的公司。 "优秀的设计、优良的工程、优质的服务"是的承诺，"创新力</p>
                                                </div>

                                                <div class="testimonials-author">
                                                	<%= image_tag "x1474449696.jpg",  class:"owl-lazy", title:"客户陈先生", alt:"客户陈先生",  height:"299" %>
                                                    <span class="t-mgr30"> 客户陈先生 </span>
                                                </div>
                                            </div>

					</div>

					<div class="item">

                                            <div class="testimonials">
                                                <div class="testimonials-content">
                                                    <h3>会议室装修</h3>
                                                    <p>一对一订制服务很不错，为我们公司制定了一套相当不错的方案，很好的解决了我们公司的难题，值得合作的公司。 "优秀的设计、优良的工程、优质的服务"是的承诺，"创新力</p>
                                                </div>

                                                <div class="testimonials-author">
                                                    <%= image_tag "x1474450852.jpg",  class:"owl-lazy", title:"客户刘先生", alt:"客户刘先生",  height:"299" %>
                                                    <span class="t-mgr30"> 客户刘先生 </span>
                                                </div>
                                            </div>

					</div>

					<div class="item">

                                            <div class="testimonials">
                                                <div class="testimonials-content">
                                                    <h3>事务所装修</h3>
                                                    <p>为我们公司的一对一订制服务很不错，一对一订制服务很不错，为我们公司制定了一套相当不错的方案，很好的解决了我们公司的难题，值得合作的公司。 "优秀的设计、优良的工</p>
                                                </div>

                                                <div class="testimonials-author">
                                                	<%= image_tag "x1474450513.jpg",  class:"owl-lazy", title:"客户张老板", alt:"客户张老板",  height:"299" %>
                                                    <span class="t-mgr30"> 客户张老板 </span>
                                                </div>
                                            </div>

					</div>



</div>
</div>
	</div>

<div  class="met-index-bottomcontact met-index-body"  >
    <div class="container">
			<div class="row">

<div class="partner col-lg-6 col-md-6">
        <h3 class="invisible" data-plugin="appear" data-animate="slide-top" data-repeat="false"><a href="news.html"  title="合作伙伴"  target='_self'>合作伙伴</a></h3>
		<p class="desc invisible" data-plugin="appear" data-animate="fade" data-repeat="false"> 欢迎更多的公司成为我们的合作伙伴</p>
		<div class="row">
        <ul>


          <li class="col-lg-4 col-md-4  col-sm-4 col-xs-6"><a href="shownews.html"  title="合作伙伴" target='_self'><%= image_tag "1474294620.png", class:"cover-image", title:"合作伙伴", alt:"合作伙伴"%></a></li>

          <li class="col-lg-4 col-md-4  col-sm-4 col-xs-6"><a href="shownews.html"  title="合作伙伴" target='_self'><%= image_tag "1474294620.png", class:"cover-image", title:"合作伙伴", alt:"合作伙伴"%></a></li>

          <li class="col-lg-4 col-md-4  col-sm-4 col-xs-6"><a href="shownews.html"  title="合作伙伴" target='_self'><%= image_tag "1474294620.png", class:"cover-image", title:"合作伙伴", alt:"合作伙伴"%></a></li>

          <li class="col-lg-4 col-md-4  col-sm-4 col-xs-6"><a href="shownews.html"  title="合作伙伴" target='_self'><%= image_tag "1474294620.png", class:"cover-image", title:"合作伙伴", alt:"合作伙伴"%></a></li>

          <li class="col-lg-4 col-md-4  col-sm-4 col-xs-6"><a href="shownews.html"  title="合作伙伴" target='_self'><%= image_tag "1474294620.png", class:"cover-image", title:"合作伙伴", alt:"合作伙伴"%></a></li>

          <li class="col-lg-4 col-md-4  col-sm-4 col-xs-6"><a href="shownews.html"  title="合作伙伴" target='_self'><%= image_tag "1474294620.png", class:"cover-image", title:"合作伙伴", alt:"合作伙伴"%></a></li>

          <li class="col-lg-4 col-md-4  col-sm-4 col-xs-6"><a href="shownews.html"  title="合作伙伴" target='_self'><%= image_tag "1474294620.png", class:"cover-image", title:"合作伙伴", alt:"合作伙伴"%></a></li>

          <li class="col-lg-4 col-md-4  col-sm-4 col-xs-6"><a href="shownews.html"  title="合作伙伴" target='_self'><%= image_tag "1474294620.png", class:"cover-image", title:"合作伙伴", alt:"合作伙伴"%></a></li>

          <li class="col-lg-4 col-md-4  col-sm-4 col-xs-6"><a href="shownews.html"  title="合作伙伴" target='_self'><%= image_tag "1474294620.png", class:"cover-image", title:"合作伙伴", alt:"合作伙伴"%></a></li>

          <li class="col-lg-4 col-md-4  col-sm-4 col-xs-6"><a href="shownews.html"  title="合作伙伴" target='_self'><%= image_tag "1474294620.png", class:"cover-image", title:"合作伙伴", alt:"合作伙伴"%></a></li>

          <li class="col-lg-4 col-md-4  col-sm-4 col-xs-6"><a href="shownews.html"  title="合作伙伴" target='_self'><%= image_tag "1474294620.png", class:"cover-image", title:"合作伙伴", alt:"合作伙伴"%></a></li>

          <li class="col-lg-4 col-md-4  col-sm-4 col-xs-6"><a href="shownews.html"  title="合作伙伴" target='_self'><%= image_tag "1474294620.png", class:"cover-image", title:"合作伙伴", alt:"合作伙伴"%></a></li>


        </ul>
      </div>
	</div>

      <div class="get_touch col-lg-6 col-md-5 col-sm-12 col-xs-12">
        <h3 class="invisible" data-plugin="appear" data-animate="slide-top" data-repeat="false"><a href="feedback.html"  title="给我们留言"  target='_self'>给我们留言</a></h3>
		<p class="desc invisible" data-plugin="appear" data-animate="fade" data-repeat="false"> 如果您有什么建议，请立即联系我</p>
        <form  action='message/message.php?action=add' method="post" class="get-in-touch-form met-form met-form-validation">
          <input type='hidden' name='lang' value='cn' />


				<div class="form-group">

					<div>
						<input name='para30' class='form-control' type='text' placeholder='姓名 ' autocomplete='off' data-fv-notempty="true" data-fv-message="不能为空" />
					</div>
				</div>

				<div class="form-group">

					<div>
						<input name='para31' class='form-control' type='text' placeholder='电话 ' autocomplete='off'  />
					</div>
				</div>

				<div class="form-group">

					<div>
						<input name='para32' class='form-control' type='text' placeholder='Email ' autocomplete='off'  />
					</div>
				</div>

				<div class="form-group">

					<div>
						<input name='para33' class='form-control' type='text' placeholder='其他联系方式 ' autocomplete='off'  />
					</div>
				</div>

				<div class="form-group">

					<div>
						<textarea name='para34' class='form-control' data-fv-notempty="true" data-fv-message="不能为空" placeholder='留言内容 ' rows='5'></textarea>
					</div>
				</div>


				<div class="form-group">

					<div class="input-group input-group-icon">
						<input
							name='code'
							type="text"
							class="form-control"
							placeholder = "验证码"
							data-fv-notempty = "true"
							data-fv-message = "不能为空"
						>
						<span class="input-group-addon">
							<%= image_tag "yzm.png",
								class:"met-form-codeimg",
								alt:"看不清？点击更换验证码",
								title:"看不清？点击更换验证码"
							%>
						</span>
					</div>
				</div>


          <div class="clear"></div>
          <button type="submit" class="submit btn-squared">提交留言<i class="fa fa-arrow-circle-right"></i></button>
        </form>
      </div>



			</div>
		</div>
	</div>

<div class="ecofootbg">

</body>
</html>
