<!DOCTYPE HTML>
<html >
<head>
    <meta name="renderer" content="webkit">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="generator" content=""  data-variable=",,,,,zstyle" />
    <title>黑色高端大气响应式装修设计公司网站模板下载</title>
    <meta name="keywords" content="黑色,高端大气,响应式,装修设计公司,网站模板下载" />
    <meta name="description" content="黑色高端大气响应式装修设计公司网站模板下载。" />
    <meta name="author" content="js代码" />
    <meta name="copyright" content="js代码" />
    <!--[if lt IE 10]>
    <script src="js/media.match.min.js"></script>
    <script src="js/respond.min.js"></script>
    <script src="js/classlist.min.js"></script>
    <![endif]-->
    <style type="text/css" media="screen">
        .yyj_banner {
            width:90%;
            margin: 0 auto;
            margin-top:2%;
            margin-bottom: 2%;
        }
        .yyj_banner img {
            width: 100%;     
        }    
    </style>
</head>




<body class="met-navfixed">

<!--[if lte IE 8]>
	<div class="text-center padding-top-50 padding-bottom-50 bg-blue-grey-100">
	<p class="browserupgrade font-size-18">你正在使用一个<strong>过时</strong>的浏览器。请<a href="http://browsehappy.com/" target="_blank">升级您的浏览器</a>，以提高您的体验。</p>
	</div>
<![endif]-->


<div class="met-index-about met-index-body">
    <div class="yyj_banner"><%= image_tag "yyj_banner.jpg" %></div>
    <div class="container-fluid">
        <div class="left_side "   data-bg=<%= image_tag "about_bg.jpg" %> bg-repeat="false">
        <div class="we_are_opacity">

            <div class="we_are_border">
                <h2>We are E.s.t 2014</h2>
            </div>

        </div>
    </div>
    <div class="right_side"   data-plugin="appear" data-animate="fade" data-repeat="false">
        <div class="we_are_deatails">
            <h2>关于我们</h2>
            <p><p>&nbsp; &nbsp; &nbsp; 北京有庆御通医疗投资有限公司为《中国御邦医通商业模式》支撑下的有庆御通（中国）商业体系的控制总部，成立于2014年7月，注册资本5000万元，公司以“为人类的健康、长寿、快乐而奋斗”为使命，以“打造和文化、构建合康态、助力中国梦”为核心理念；致力于在健康产业、医疗卫生行业依托“中国特色1.2.6动态慢病健康管理”模式，打造“互联网+生命质量控制”的商业模式----《中国御邦医通商业模式》，构建一个围绕健康产业的绿色健康生态体系----有庆御通（中国）商业体系.&nbsp;</p><p>&nbsp; &nbsp; &nbsp; 有庆御通（中国）商业体系（以下简称“有庆体系”）的控股总部公司，“有庆体系”以推动能够有效解决慢性病问题的“中国特色1.2.6动态慢病健康管理模式”为根本，以《御邦医通商业模式》（数字化+健康管理）为支撑，以有庆体系为运营、实施，在全国落地“唱响一曲主旋律·建设一个主系统·做好一件民生事”系统工程，以“数字社区综合服务平台+御邦医通社区数字健康管理平台”为落地项目。“有庆体系”以“打造和合文化，构建小康社会，共筑中国梦”为经营理念，涉及文化、科技、教育、健康等多个领域。</p></p>
        </div>
    </div>
</div>




<div class="met-index-news met-index-body">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 single-blog-post"  data-plugin="appear" data-animate="slide-bottom" data-repeat="false">
                <div class="img-holder">
                <%= image_tag "x1474096450.jpg", class:"cover-image", alt:"低碳建筑首选天然石材 环保健康受欢迎", title:"低碳建筑首选天然石材 环保健康受欢迎"%>
                <div class="overlay">

                    <a href="shownews.html" title="低碳建筑首选天然石材 环保健康受欢迎" target='_self'>
                    <div class="overlays">
                    </div>
                    </a>
                </div>
                </div>
                <a href="shownews.html" title="低碳建筑首选天然石材 环保健康受欢迎" target='_self'><h2>低碳建筑首选天然石材 环保健康受欢迎</h2></a>
                <p>所谓低碳经济，是指在可持续发展理念指导下，通过技术创新、制度创新、产业转型等多种手段，尽可能地减少煤炭石油等高碳能源消耗，减少排放，达到经济社会发展与生态环境保..</p>
            </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 single-blog-post"  data-plugin="appear" data-animate="slide-bottom" data-repeat="false">
            <div class="img-holder">
                <%= image_tag "x1474096459.jpg", class:"cover-image",  alt:"装修旺季促销建材家居景气指数回升", title:"装修旺季促销建材家居景气指数回升" %>
                <div class="overlay">

                    <a href="shownews.html" title="装修旺季促销建材家居景气指数回升" target='_self'>
                    <div class="overlays">
                    </div>
                    </a>
                </div>
            </div>
            <a href="shownews.html" title="装修旺季促销建材家居景气指数回升" target='_self'><h2>装修旺季促销建材家居景气指数回升</h2></a>
            <p>  由中国建筑材料流通协会发布的全国建材家居景气指数BHI9月份为119.02，环比上升10.05%，同比上升1.35%。这符合业界预期。由中国建筑材料流通协会..</p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 single-blog-post"  data-plugin="appear" data-animate="slide-bottom" data-repeat="false">
            <div class="img-holder">
                <%= image_tag "x1474096485.jpg", class:"cover-image",  alt:"全球原木材原料严重紧缺危及建材行业", title:"全球原木材原料严重紧缺危及建材行业"%>
                <div class="overlay">

                    <a href="shownews.html" title="全球原木材原料严重紧缺危及建材行业" target='_self'>
                    <div class="overlays">
                    </div>
                    </a>
                </div>
            </div>
            <a href="shownews.html" title="全球原木材原料严重紧缺危及建材行业" target='_self'><h2>全球原木材原料严重紧缺危及建材行业</h2></a>
            <p>众所周知，海啸给中国地板、家具行业的影响正在逐步显现。由于印尼等国实行出口紧缩政策，使全球原木材原料供给吃紧，国内那些过分依靠海外采购原木材的下游企业将面临难关..</p>
        </div>

        </div>
    </div>
</div>


</body>
</html>
