<!DOCTYPE html>
<html>
  <head>
    <title>Qianduan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  	<!-- 引入头部导航视图 -->
	<%= render "layouts/head" %>

    <%= yield %>
    <div class="ecofootbg">

<div class="met-footnav-eco">
    <div class="container">
		<div class="row mob-masonry">
			123
		</div>
	</div>
</div>



<footer>
    <div class="container text-center">
		<p>©2014 Youqinyutong. All Rights Reserved.All trademarks and names are property of their respective owners.</p>
		<p>粤ICP备15056270号-1</p>

    </div>
</footer>
</div>


<div class="modal fade modal-3d-flip-vertical" id="site-navbar-search" aria-hidden="true" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-center modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>




<div class="container">
	<div class="row">
	  <div class="search">	
        <form role="search" action="search.html">
          <input type='hidden' name='lang' value='cn' />
		  <div class="form-group ">
            <div class="input-search">
              <input type="text" class="form-control" name="searchword" placeholder="搜索">
              <button type="submit" class="input-search-btn"><i class="icon wb-search" aria-hidden="true"></i></button>
            </div>
          </div>
        </form>
		</div>
      </div>
	 </div>



			</div>
		</div>
	</div>
</div>

</div>

<button type="button" class="btn btn-icon btn-primary btn-squared met-scroll-top hide"><i class="icon wb-chevron-up" aria-hidden="true"></i></button>

    
  </body>
</html>
